// Colors
$primary-color-dark:   #00796B;
$primary-color:        #009688;
$primary-color-light:  #B2DFDB;
$primary-color-text:   #FFFFFF;    // text color on primary background
$accent-color-dark:    #F57C00;
$accent-color:         #FF9800;
$accent-color-light:   #FFE0B2;
$primary-text-color:   #212121;
$secondary-text-color: #727272;
$divider-color:        #B6B6B6;


// fonts
$roboto: "Roboto", Helvetica, Arial, sans-serif;
$font-regular-size: 16px;


// Breakpoints
$large: 1280px;
$medium: 760px;
$small: 480px;
