@at-root .mdeditor{

    // editor specs 
    &__specs{
        background: #F1F1F1;
        font-size: 16px;
        @include clearfix();
        &__group{
            position: relative;
            display: block;
            float: left;
            padding: 0 12px;
            // add the right seperator for the groups
            &:not(:last-child){
                &:after{
                    content: "";
                    background: #E1E1E1;
                    width: 1px;
                    height: 20px;
                    position: absolute;
                    right: 0;
                    top: calc(50% - 10px);
                }
            }
            &:hover{
                background: #F8F8F8;
            }
        }
    }


    // a spec
    &__spec{
        display: inline-block;
        padding: 16px 12px 16px 12px;
        background: transparent;
        outline: none;
        border: none;
        color: #6D6D6D;
        font-size: 1em;

        &--bold{
            font-weight: bolder;
        }
        

        &:hover{
            color: black;
        }

    }
    // input markdown
    &__md{
        display: block;
        width: 48%;
        float: left;
    }
    // output html
    &__html{
        box-sizing: border-box;
        display: block;
        width: 48%;
        float: right;
        padding: 10px;
        border: 1px solid silver;
        height: 340px;
        overflow-y: auto;
        color: dimrey;
        font-size: 18px;
    }
}