<section class="about">
    <h1 class="about__title">About Tourepedia</h1>
    <p class="about__info">Tourepedia is a full process trip planner which provides the following services:</p>
    <div class="about__services">
        <div class="about__service about__service--first">
            <p>All booking of hotels, travel (including local transport), and amenities for trip.</p>
        </div>
        <div class="about__service about__service--last">
            <p>Day-wise scheduling of trip with a full customer care service for the full trip time.</p>
        </div>
    </div>
    <button class="about__btn">
        Plan your trip
    </button>

</section>
