<section class="new-post">
  <form class="new-post-form" name="newPostForm">
    <fieldset>
      <label for="newPostTitle">Title:</label>
      <input type="text" name="newPostTitle" id="newPostTitle" data-ng-model="posts.newPost.title">
    </fieldset>
    <fieldset>
      <label for="newPostInfo">Short Description:</label>
      <textarea  name="newPostInfo" id="newPostInfo" rows="5" data-ng-model="posts.newPost.info"></textarea>
    </fieldset>

    

    <fieldset>
      <label for="newPostContent">Content</label>
      <tpb-mdeditor md="posts.newPost.content"></tpb-mdeditor>
    </fieldset>
    <fieldset>
      <input type="submit" value="Submit">
    </fieldset>
  </form>
</section>
