// transform with vendor prefixes

// use: @include transform("translate(10px, 10px) rotate(10deg)")

@mixin transform($value) {
  -webkit-transform: #{$value};
     -moz-transform: #{$value};
          transform: #{$value};
}
