<h1>Home view for Tourepedia. {{home.message}}</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus, veniam corporis quae, tempore minima delectus eveniet temporibus optio cupiditate dignissimos aliquam. Asperiores, laborum in excepturi, eius natus nesciunt eaque impedit!</p>
<ul>
  <li>
    <h1>Blog 1</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores natus sapiente enim praesentium alias dolores tempora earum quisquam adipisci ab aliquam dignissimos tenetur beatae voluptatibus rerum, sint molestiae. Necessitatibus, atque!</p>
    <a ui-sref="post({'postId': 'A-Thing-which-matter'})">Read</a>
    <a ui-sref="author({'authorId': 'sudkumar'})">Sudhir@Author</a>
  </li>
  <li>
    <h1>Blog 2</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores natus sapiente enim praesentium alias dolores tempora earum quisquam adipisci ab aliquam dignissimos tenetur beatae voluptatibus rerum, sint molestiae. Necessitatibus, atque!</p>
    <a ui-sref="post({'postId': 'Another-Thing-which-matter'})">Read</a>
    <a ui-sref="author({'authorId': 'anandss'})">Anand@Author</a>
  </li>
</ul>
